# Default codeowner for all files
* @pascalguttmann

# Workspace default codeowners
/docs/workspace/ @pascalguttmann

# Workspace team codeowners
/docs/workspace/enclosure/ @jannikgeng @yunusclk # enclosure team members
/docs/workspace/esu/ @mohamedshafi07 @Ranjithraj2001 @KovarthananS # esu team members
/docs/workspace/meas/ @ruchik-mahesh @pascalguttmann @Bardia788 # meas team members
/docs/workspace/pss/ @pascalguttmann # powersupplysink team members
/docs/workspace/safety/ @Kirtan-1315 # safety team members

# Architecture codeowners
/docs/arch/enclosure.md @jannikgeng @yunusclk # enclosure team members

# Ruleset Test
/ruleset-test.md @pascalguttmann-testing

# Potentially Malicious Edit
