# Default codeowner for all files
* @pascalguttmann

# Workspace default codeowners
/docs/workspace/ @pascalguttmann

# Workspace team codeowners
/docs/workspace/enclosure/ @pascalguttmann-testing # enclosure team members
/docs/workspace/esu/ @pascalguttmann-testing # esu team members
/docs/workspace/meas/ @pascalguttmann-testing # meas team members
/docs/workspace/pss/ @pascalguttmann
/docs/workspace/safety/ @pascalguttmann-testing # safety team members

# Architecture codeowners
/docs/arch/enclosure.md @pascalguttmann-testing # enclosure team members

