# Default codeowner for all files
* @pascalguttmann

# Workspace default codeowners
/docs/workspace/ @pascalguttmann

# Workspace team codeowners
/docs/workspace/enclosure/ @jannikgeng @yunusclk # enclosure team members
/docs/workspace/esu/ @pascalguttmann-testing # esu team members
/docs/workspace/meas/ @ruchik-mahesh @pascalguttmann # meas team members
/docs/workspace/pss/ @pascalguttmann # powersupplysink team members
/docs/workspace/safety/ @pascalguttmann-testing # safety team members

# Architecture codeowners
/docs/arch/enclosure.md @jannikgeng @yunusclk # enclosure team members

