# .gitignore to ignore files for git repository
#
# author: P. Guttmann

# ignore local python venv
/.venv

# ignore vim swap files
*.swp

# ignore office backup files
~$*.*

# ignore LT Spice Simulation files
*.log
*.raw

# ignore mkdocs documentation builds
/site/
