[submodule "hw/pss"]
	path = hw/pss
	url = https://github.com/pascalguttmann/obat-powersupplysink.git
[submodule "sw/pc/obat_pc_spi"]
	path = sw/pc/obat_pc_spi
	url = https://github.com/pascalguttmann/obat_pc_spi
[submodule "sw/pc/arduino_usb_spi_bridge"]
	path = sw/pc/arduino_usb_spi_bridge
	url = https://github.com/pascalguttmann/arduino_usb_spi_bridge.git
