[submodule "hw/ecad/pss"]
	path = hw/pss
	url = https://github.com/pascalguttmann/obat-powersupplysink.git
[submodule "sw/pc/obat-pc-spi-driver"]
	path = sw/pc/obat-pc-spi-driver
	url = https://github.com/pascalguttmann/obat-pc-spi-driver
